body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0; /* Eliminar margen predeterminado del cuerpo */
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 170px;
}

.alura-latam-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

img {
  max-height: 500px; /* Aumentar el tamaño máximo de la imagen */
  padding: 20px;
}

.input-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
}

label {
      margin-bottom: 5px;
	  color: white;
	  font-size: 16px;
    }

    input[type="text"],
    input[type="number"] {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 250px;
      box-sizing: border-box;
    }

button, #continuarButton {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
	  margin-top: 20px;
	  margin-bottom: 20px; /* Nuevo margen inferior */
}

button:hover {
      background-color: #45a049;
}

#resultado {
      margin-top: 20px
}


footer {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  bottom: 0;
  position: fixed;
  margin-left: 0; /* Eliminar el margen izquierdo */
  padding-left: 0; /* Eliminar el relleno izquierdo */
}

footer p {
  margin: 0;
  padding: 20px 0;
  background-color: black;
  color: #fff;
  height: 30px;
}
